@import url(Navigation/assets/css/style.css);
@import url(components/card.css);
@import url(components/cart.css);

strong{
    color: #f85606;
}

h1{
    font-weight: 400;
    font-size: 28px;
}

h5{
    font-weight: 400;
}

small{
    font-weight: 400;
    font-size: 18px;
}

.nav-sec{
    position: fixed;
    width: 100%;
    height: 30px;
    margin-top: 90px;
    display: flex;
    background-color: #c94807;
    border-top: 1px solid #c94807;
    font-size: 12px;
    padding: 3px 0px 3px 30px;
    z-index: 10;
    .sec-container{
        margin-left: 15vw;
        margin-right: 15vw;
        max-width: 100%;
        display: flex;
        align-items: center;
        gap: 35px;
        button{
            text-wrap: nowrap;
            color: rgba(255, 255, 255);
            &:hover{
                text-decoration: underline;
                color: white;
                text-shadow: 0px 0px 1px white;

                cursor: pointer;
            }
        }
        .dashicon{
            &:hover{
                cursor: pointer;
                ion-icon{
                    opacity: 60%;
                }
                text-decoration: underline;

            }
        }
    }
}


/* SIDEBAR CSS */

.sidebar {
    width: 15.65vw;
    background-color: white;
    color: #f85606;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1112;
    /* border-left: 5px #f85606 solid; */
    border-right: 3px #c94807 solid;
    transition: transform 0.3s ease-in-out;
    left: -350px; /* Start off-screen */
    .sideBar-header{
        display: flex;
        font-weight: 600;
        background-color: white;
        color: #f85606;
        padding: 5px 20px 5px 20px;
        background-color: #f85606;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: medium;
        align-items: center;
        gap: 10px;    
        justify-content: space-between;
        .sideBar-login{
            color: white;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            &:hover{
                color: #6b3013;
                ion-icon{
                    color: #6b3013;
                }
            }
        }
        ion-icon{
            color: white;
            &:hover{
                color: #6b3013;
                cursor: pointer;
            }
        }
    }
    .sideBar-content{
        font-size: medium;
        padding: 10px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap:10px;
        ion-icon{
            color: white;
        }
        .sideBar-content-header{
            display: flex;
            align-items: center;
            gap: 10px;
            .dropdown-btn{
                font-weight: 600;
            }
            &:hover{
                ion-icon{
                    color: #f85606;
                }
            }
        }
        .dropdown-content {
            overflow: hidden;
            max-height: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            transition: max-height 0.3s ease-in-out;
            &:hover{
                cursor: pointer;
            }
        }
        
        a.active + .dropdown-content {
            max-height: 300px; 
        }
    
        .dropdown-item {
            padding-left: 20px; 
            &:hover{
                cursor: pointer;
            }
        }
    }
}



/* MAIN CONTENT CSS */

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 2000px;
    background-color: #ededed;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 16.65vw;
        margin-right: 16.65vw;
        max-width: 100%;
        border-radius: 10px;
        background-color: white;
    }
    .c-1{
        .main-ad{
            width: 100%;
            height: 432.9px;
            object-fit:fill;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        .text-ad, marquee{
            position: relative;
            display: inline-block;
            background-color: white;
            height: fit-content;
        margin: 0 auto;
        letter-spacing: 2px;
        text-wrap: nowrap;
        line-height: 50px;
        text-align: center;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 5;
        }
        
        /* Marquee CSS */
        .marquee-container {
            letter-spacing: 1px;
            line-height: 40px;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            
            .marquee-content {
                display: inline-block;
                animation: marquee 25s linear infinite;
                
            }
        }
        
        .carousel {
            display: flex;
            overflow: hidden;
            /* width: 300px; Adjust the carousel width as needed */
            margin: 20px auto; /* Center the carousel */
            .carousel-inner {
                display: flex;
                transition: transform 0.5s ease-in-out;
                .carousel-item {
                    min-width: 100%;
                    box-sizing: border-box;
                }
                
                .carousel-item img {
                    height: 432.9px;
                }
            }
        }
        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            cursor: pointer;
            color: #fff;
            background-color: #333;
            border: none;
            padding: 10px;
            z-index: 1;
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
    .c-2{
        padding: 20px 30px 30px 30px;
        hr{
            height: 1px;
        }
    }
}




@keyframes marquee {
    from {
        transform: translateX(90%);
    }
    to {
        transform: translateX(-100%);
    }
}



















/* FOOTER CSS */

.footer{
    width: 100%;
    height: 320px;
}

body{
    padding-bottom: 0px;
}




/* RESPONSIVENESS CSS */

@media (min-width: 200px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .mobile-bottom-navigation {
      display: flex;
    }

    .nav-sec{
        margin-top: 158px;
    }

    main{
        padding-top: calc(198px + 20px);max-width: inherit;
    }
  }
  
  @media (min-width: 1250px) {
    .container {
      flex-direction: row;
    }
  
    .mobile-bottom-navigation {
      display: none;
    }
    .nav-sec{
        margin-top: 90px;
    }
    main{
        padding-top: 140px;
    }
  }







  