@import url(Navigation/assets/css/style.css);
@import url(components/card.css);
@import url(components/cart.css);

strong{
    color: #f85606;
}

h1{
    font-weight: 400;
    font-size: 28px;
}

h5{
    font-weight: 400;
}

small{
    font-weight: 400;
    font-size: 18px;
}

.nav-sec{
    position: fixed;
    width: 100%;
    height: fit-content;
    margin-top: 90px;
    display: flex;
    background-color: #c94807;
    border-top: 1px solid #c94807;
    font-size: 12px;
    padding: 3px 0px 3px 30px;
    z-index: 9;
    .sec-container{
        margin-left: 15vw;
        margin-right: 15vw;
        max-width: 100%;
        display: flex;
        align-items: center;
        gap: 35px;
        button{
            text-wrap: nowrap;
            color: rgba(255, 255, 255);
            &:hover{
                text-decoration: underline;
                color: white;
                text-shadow: 0px 0px 1px white;

                cursor: pointer;
            }
        }
        .dashicon{
            &:hover{
                cursor: pointer;
                ion-icon{
                    opacity: 60%;
                }
                text-decoration: underline;

            }
        }
    }
}


/* SIDEBAR CSS */

.sidebar {
    width: 15.65vw;
    background-color: white;
    color: #f85606;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1112;
    /* border-left: 5px #f85606 solid; */
    border-right: 3px #c94807 solid;
    transition: transform 0.3s ease-in-out;
    left: -350px; /* Start off-screen */
    .sideBar-header{
        display: flex;
        font-weight: 600;
        background-color: white;
        color: #f85606;
        padding: 5px 20px 5px 20px;
        background-color: #f85606;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: medium;
        align-items: center;
        gap: 10px;    
        justify-content: space-between;
        .sideBar-login{
            color: white;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            &:hover{
                color: #6b3013;
                ion-icon{
                    color: #6b3013;
                }
            }
        }
        ion-icon{
            color: white;
            &:hover{
                color: #6b3013;
                cursor: pointer;
            }
        }
    }
    .sideBar-content{
        font-size: medium;
        padding: 10px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap:10px;
        ion-icon{
            color: white;
        }
        .sideBar-content-header{
            display: flex;
            align-items: center;
            gap: 10px;
            .dropdown-btn{
                font-weight: 600;
            }
            &:hover{
                ion-icon{
                    color: #f85606;
                }
            }
        }
        .dropdown-content {
            overflow: hidden;
            max-height: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            transition: max-height 0.3s ease-in-out;
            &:hover{
                cursor: pointer;
            }
        }
        
        a.active + .dropdown-content {
            max-height: 300px; 
        }
    
        .dropdown-item {
            padding-left: 20px; 
            &:hover{
                cursor: pointer;
            }
        }
    }
}



/* MAIN CONTENT CSS */

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    background-color: #ededed;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 16.65vw;
        margin-right: 16.65vw;
        max-width: 100%;
        border-radius: 10px;
        background-color: white;
        hr{
            height: 1px;
            border-width: 0px;
            background-color :#222f3e;
            opacity: 35%;
            margin-bottom: 5px;
        }
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .show-more{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: #222f3e;
            font-size: 18px;
            transition: 100ms ease-in-out;
            ion-icon{
                font-size: 22px;
            transition: 100ms ease-in-out;

            }
            &:hover{
                cursor: pointer;
                color: #f85606;
                ion-icon{
                    transform: translateX(2px);
                color: #f85606;
                }
            }
            
        }
    }
    .c-1{
        .main-ad{
            width: 100%;
            height: 432.9px;
            object-fit:fill;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        .text-ad, marquee{
            position: relative;
            display: inline-block;
            background-color: white;
            height: fit-content;
        margin: 0 auto;
        letter-spacing: 2px;
        text-wrap: nowrap;
        line-height: 50px;
        text-align: center;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 5;
        }
        
        /* Marquee CSS */
        .marquee-container {
            letter-spacing: 1px;
            line-height: 40px;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            
            .marquee-content {
                display: inline-block;
                animation: marquee 105s linear infinite;
                
            }
        }
        
        .carousel {
            display: flex;
            overflow: hidden;
            /* width: 300px; Adjust the carousel width as needed */
            margin: 20px auto; /* Center the carousel */
            .carousel-inner {
                display: flex;
                transition: transform 0.5s ease-in-out;
                .carousel-item {
                    min-width: 100%;
                    box-sizing: border-box;
                }
                
                .carousel-item img {
                    height: 432.9px;
                }
            }
        }
        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            cursor: pointer;
            color: #fff;
            background-color: #333;
            border: none;
            padding: 10px;
            z-index: 1;
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
    .c-2, .c-3, .c-4{
        padding: 20px 30px 30px 30px;
        h1{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .c-2{
        h1{
            ion-icon{
                color: rgb(255, 219, 14);
                font-size: 35px;
            }
        }
        #counter{
            display: inline-block;
                width: 9vw;
                padding: 5px 10px;
                background-color: #f85606;
                border-radius: 10px;
                color: white;
                letter-spacing: 1px;
                text-align: center;
                font-size: medium;
                font-weight: 500;
        }
    }

    /* Winter Goodies */
    .c-3{
        border: 2px solid #7dcce6A0;
        background: rgb(255,255,255);
        background: linear-gradient(34deg, rgba(255,255,255,1) 0%, rgba(203,246,255,1) 100%);
        .card{
            border: 2px solid #5ac7eb63;
            &:hover{
                border-color: #5ac7ebd2;
            }
            .rating{
                & .stars{
                    ion-icon{
                        color: rgb(125, 204, 230);
                    }
                }
            }
            button{
                border-top: 2px solid #5ac7eb44;
                background-color: rgba(6, 137, 180, 0.062);
                color: rgb(6, 137, 180);
                transition: 100ms ease-in-out;
                &:hover{
                    background-color: rgb(6, 137, 180);
                border-top: 2px solid rgb(6, 137, 180);

                    color: white;
                }
            }
        }
        hr{
            background-color: rgb(6, 137, 180);
        }
        .header{
            color: rgb(6, 137, 180);
        }
        .show-more{
            &:hover{
                color: rgb(6, 137, 180);
                ion-icon{
                    color: rgb(6, 137, 180);
                }
            }
        }
        h1{
            ion-icon{
                color: rgb(6, 137, 180);
                font-size: 35px;
            }
        }
    }

    /* Trending Products */
    .c-4{
        h1{
            ion-icon{
                color: #f85606;
                font-size: 35px;
            }
        }
    }
}




@keyframes marquee {
    from {
        transform: translateX(14%);
    }
    to {
        transform: translateX(-100%);
    }
}






/* FOOTER CSS */

.footer{
    width: 100%;
    height: 320px;
}

body{
    padding-bottom: 0px;
}




/* RESPONSIVENESS CSS */

@media (min-width: 200px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .mobile-bottom-navigation {
      display: flex;
    }

    .nav-sec{
        margin-top: 158px;
    }

    main{
        padding-top: calc(198px + 20px);max-width: inherit;
    }
  }
  
  @media (min-width: 1250px) {
    .container {
      flex-direction: row;
    }
  
    .mobile-bottom-navigation {
      display: none;
    }
    .nav-sec{
        margin-top: 90px;
    }
    main{
        padding-top: 140px;
    }
  }



/* Accessiblity Button & Bar CSS */
.acc-bar-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 32px;
    cursor: pointer;
    transition: 150ms ease-in-out;
    z-index: 2;
}

.acc-bar {
    position: fixed;
    top: 30%;
    right: -100px;
    width: 100px;
    height: 60%;
    background-color: #7dbce7;
    box-sizing: border-box;
    transition: right 200ms;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    overflow: hidden;
    border: none;
    flex-direction: column;
    align-items: center;
    p{
        color: white;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        text-wrap: wrap;
        line-height: 20px;
    }
    .acc-icon{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;        
        justify-content: center;
        align-items: center;
        background-color: white;
        transition: 150ms ease-in-out;

        ion-icon{
            position: absolute;
            font-size: 32px;
            color: #3498db !important;
            transition: 100ms ease-in-out;
        }
        .water, .ellipse{
            opacity: 0%;
        }
    }
    .acc-saturation{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        padding: 12px;
        overflow: hidden;
        align-items: center;
        &:hover{
            background-color: #4da4de;
            cursor: pointer;
            .acc-icon>.water{
                opacity: 100%;
            }
            ion-icon{
                font-size: 40px;
            }
        }
    }
    .acc-txtresize{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding: 12px;
        overflow: hidden;
        align-items: center;
        &:hover{
            background-color: #4da4de;
            cursor: pointer;
            ion-icon{
                font-size: 40px;
            }
        }

    }
    .acc-link{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding: 12px;
        overflow: hidden;
        align-items: center;
        &:hover{
            background-color: #4da4de;
            cursor: pointer;
            ion-icon{
                font-size: 40px;
            }
        }
    }
    .acc-txtspace{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        padding: 12px;
        overflow: hidden;
        align-items: center;
        &:hover{
            background-color: #4da4de;
            cursor: pointer;
            ion-icon{
                font-size: 40px;
            }
        }
    }

.acc-bar-button:hover {
    background-color: #236c9d;
}
}



/* Tour CSS */
.tour-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}

.tour-popup {
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
    p{
        line-height: 80px;
    }
    .btns{
        display: flex;
        justify-content: space-around;
        button {
            line-height: normal;
            font-weight: 600;
            padding: 8px 15px;
            border-radius: 10px;
            cursor: pointer;
            color: #f85606;
            transition: 100ms ease-in-out;
            background-color: #ededed;
            &:hover{
            background-color: #f85606;
            color: white;
            }
        }
    }
}

/* Language Dropdown */
.language-button{
    &:hover{
        .lang-dropdown>.lang.inactive{
            opacity: 100%;
            
        }
    }
    .lang-dropdown{
        display: flex;
        flex-direction: column;
        position: relative;
        .lang{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 15px;
            font-weight: 500;
            &.inactive{
                position: absolute;
                background-color: white;
                opacity: 0%;
                width: 110px;
                display: flex;
                justify-content: center;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                color: #f85606;
                font-weight: 600;
                left: 23.8px;
                top: 45px;
                z-index: 11;
                transition: 100ms ease-in-out;
                &:hover{
                    color: #b5440c;
                }
            }
        }
    }
    &:hover{
        border-bottom-right-radius: 0px;
    }
}

.sat-lvl{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    .lvl{
        height: 10px;
        border-radius: 5px;
        background-color: white;
        width: 10px;
    }
}

.link-highlight {
    background-color: black;
    color: yellow !important;
    font-weight: bold;
    ion-icon{
        color: yellow !important;
    }
}


