<!DOCTYPE html>
<html>
  <head>
    <title>Product Card</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="card.css" />
  </head>

  <body>
    <div class="gallery">
      <!-- Product Card 1 -->
      <div class="content">
        <img class="item_img" src="book.jpg" />
        <h3>Super Forcasting</h3>
        <p>Super Forcasting is a Novel on The Art and Science of Prediction</p>
        <h6>Rs 500</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>

      <!-- Product Card 2 -->
      <div class="content">
        <img class="item_img" src="brush.png" />
        <h3>Oral B</h3>
        <p>Brush with bristles</p>
        <h6>Rs 70</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(3)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>

      <div class="content">
        <img class="item_img" src="converse.png" />
        <h3>Converse</h3>
        <p>Double Sole</p>
        <h6>Rs 2200</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>

      <div class="content">
        <img class="item_img" src="gloves.png" />
        <h3>Gloves</h3>
        <p>Very soft gloves with warm fur inside</p>
        <h6>Rs 300</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="content">
        <img class="item_img" src="headphone.png" />
        <h3>Black Headphone</h3>
        <p>High quality sound </p>
        <h6>Rs 1500</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="content">
        <img class="item_img" src="heater.png" />
        <h3>Heater</h3>
        <p>Heater with 2 LEDs</p>
        <h6>Rs 1000</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="content">
        <img class="item_img" src="hotbag.png" />
        <h3>Hot Bag</h3>
        <p>Hot Bag with gel inside</p>
        <h6>Rs 1500</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="content">
        <img class="item_img" src="Iphone12.png" />
        <h3>Iphone 12</h3>
        <p>Iphone 12 256 GB in black color</p>
        <h6>Rs 100000</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      <div class="content">
        <img class="item_img" src="santacap.png" />
        <h3>Santa Hat</h3>
        <p>Santa Hat in Medium Size</p>
        <h6>Rs 200</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>


      <div class="content">
        <img class="item_img" src="sweater.png" />
        <h3>White Sweater</h3>
        <p>Sweater with high quality wool</p>
        <h6>Rs 1000</h6>
        <div class="rating">
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>(4)</span>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      

      
    </div>
  </body>
</html>
