:root{
    font-family: "Poppins", sans-serif;
}


.cards-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    row-gap: 25px;
}

.card {
    background-color: white;
    width: 23.4%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #bfbfbf4A;
    cursor: pointer;
    padding-top: 10px;
    box-sizing: border-box;
    transition: 100ms ease-in;
    &:hover {
        transform: translate(0px, -2px);
        cursor: pointer;
        border: 2px #bfbfbf solid;
    }
    .card-content{
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
        a {
            text-decoration: none;
        }
        
        .item_img {
            max-width: 180px;
            /* height: 100px; */
            text-align: center;
            padding-bottom: 10px;
            margin: 0 auto;
            display: block;
        }
        
        h6 {
            display: inline-block;
            font-size: 22px;
            text-align: left;
            color: #f85606;
            margin: 0;
            font-weight: 500;
            text-wrap: nowrap;
        }
        .discount{
            font-weight: 400;
            color: #222f3e;
            font-size: 15px;
            padding-bottom: 8px;
            strike{
            font-size: 15px;
                color: #9d9d9d;
                font-weight: 400;
            }
        }
        .rating {
            margin-top: 10px;
            display:flex;
            font-size: 13px;
            align-items:safe;
            color: #9d9d9d;
            gap: 5px;
            .stars{
                display: flex;
                font-size: 15px;
                gap: 3px;
                ion-icon{
                    color: rgb(244, 207, 0);
                }
            }
        }
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 15px;
        color: #ffff;
        width: 100%;
        padding: 8px;
        border: 0;
        outline: none;
        cursor: pointer;
        margin-top: 10px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        ion-icon{
            font-size: 20px;
        }
    }
    .add-to-cart {
        background: #f85606;
    }
}

