*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

html {
  font-family: "Poppins", sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

body {
  background: white;
}

/* .header-user-actions {
  display: none;
} */

.nav-main {
  padding: 20px 0;
  border-bottom: 1px solid #ededed;
  background-color: #f85606;
}

.login_button, .signup_button, .language-button, .cart-button{
  border-radius: 10px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  &:hover{
    background-color: #d34600;
    cursor: pointer;
  }
}

.cart-button{
  display: flex;
  align-items: center;
  gap: 5px;
}

.language-button{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.header-user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container {
  display: flex;
  justify-content:left;
  /* align-items: center; */
  padding: 0 30px;
  margin: auto;
  gap: 20px;
}

.container-logo_search{
  display: flex;
  align-items: center;
  width: 100%;
  /* margin: auto; */
  gap: 10px;
}

.header-user-actions .action-btn {
  font-size: 35px;
  color: #454545;
  padding: 5px;
}

.actions {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  line-height: 38px;
  bottom: 12px;
  /* position: absolute; */
  /* clear: both; */
  box-sizing: border-box;
  z-index: 1111;
  vertical-align: middle;
}

.login-text {
  font-size: 15px;
  font-size-adjust: initial;
  font-weight: bold;
  position: relative;
  color: white;
}

.signup-text {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  color: white;
}

.person-outlines {
  color: white;
  margin-right: -10px;
  margin-left: -10px;
  font-size: 27px;
}

.globe-oulines {
  color: white;
  height: 40px;
  /* margin-left: 20px; */
  font-size: 27px;
}

.cart-outlines {
  color: white;
  height: 40px;
  font-size: 27px;
}

.EN {
  display: flex;
  /* margin-left: -13px; */
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
}

.down-arrow {
  font-size: 14px;
  vertical-align: middle;
  position: relative;
  left: 1px;
  bottom: 4px;
  float: right;
}

.header-logo {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  vertical-align: middle;
  position: relative;
  bottom: 4px;
  z-index: 1111;
  margin-right: 1rem;
}

.header-search-container {
  /* width: 40vw; */
  flex: 1;
  display: inline-block;
  z-index: 1111;
  position: relative;
}

.header-search-container .search-field {
  font-size: 0.875rem;
  color: #454545;
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid #ededed;
  border-radius: 10px;
}

.search-btn {
  background: white;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  color: #454545;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 10px;
  transition: color 0.2s ease;
}

.search-btn:hover {
  color: #f85606;
}

.mobile-bottom-navigation {
  background: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 111111;
}

.mobile-bottom-navigation .action-btn {
  position: relative;
  font-size: 26px;
  color: #212121;
  padding: 10px;
}

@media (min-width: 200px) {
  .container {
    flex-direction: column;
  }

  .mobile-bottom-navigation {
    display: flex;
  }
}

@media (min-width: 1050px) {
  .container {
    flex-direction: row;
  }

  .mobile-bottom-navigation {
    display: none;
  }
}
